/*index.html*/
body#index {
/*	background-color: black;*/
  /*height: 100%;*/
  /*width: 100%;*/
	font-family: 'Rubik', sans-serif;
	color: white;
  background-image: url("https://i.imgur.com/JO1dC7C.jpg"), url("https://i.imgur.com/KCcrCh7.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: hard-light;
  margin: 0;
  min-height: 100vh;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
/*  background-color: #000000;*/
  padding: 10px;
  min-height: 80vh;
}

.grid-item {
  display: flex;
  background-color: rgba(255, 255, 255, 0);
  padding: 0px;
  font-size: 30px;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.grid-item img {
 /* min-height: 50%;*/
  width: 70%;
  /*max-width: 320px;*/
  border-radius: 10px;
}

.WhiteHouse img {
  width: 60%;
}

.alaska img {
  width: 70%;
}


.name {
  font-size: 40px;
  font-weight: bold;
}

footer img {
  width: 40px;
}


a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: #0077C0;
}

h1 {
  text-align: center;
  margin-top: 25px;
}

h4 {
  margin: 0px 125px 0px 125px;
}

.alignleft {
  float: left;
  margin-left: 15px;
}

.alignright {
  float: right;
  margin-right: 15px;
  height: 30%;
}

#GitHub {
  height: 35px;
  width: 65px;
}

#Office {
  height: 10%;
  width: 50%;
  margin-bottom: 40px;
}

#FanPage {
  height: 10%;
  width: 50%;
  margin-bottom: 40px;
}

#Recipe {
  height: 10%;
  width: 50%;
  margin-bottom: 40px;
}

#magic {
  border-radius: 5px;
  height: 65px;
  width: 80px;
}

#gators {
  border-radius: 5px;
  height: 65px;
  width: 85px;
}


body {
  margin: 0;
}

/*contact.html*/
body#contact {
  background-color: #1b1b1b;
  font-family: 'Rubik', sans-serif;
  color: white;
  text-align: center;
  /*line-height: 3em;*/
}


/*work.html*/
body#work {
  background-color: #1b1b1b;
  font-family: 'Rubik', sans-serif;
  color: white;
  text-align: center;
}

/*resume.html*/
body#resume {
  background-color: #1b1b1b;
}

body#about {
  background-color: #1b1b1b;
  color: white;
  font-family: 'Rubik', sans-serif;
  text-align: justify;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.about_container {
  margin: 50px 125px 0px 125px;
  line-height: 3em;
}

header {
  background: #0077C0;
}

header::after {
  content: '';
  display: table;
/*  clear: both;*/
}

nav {
  text-align: center;
  /*float: right;*/
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;

}

nav li {
  display: inline-block;
/*  margin-left: 70px;*/
  padding: 20px;
  position: relative;
}

nav a {
  text-transform: uppercase;
  font-size: 20px;
  
}

nav a:hover {
  color: #1b1b1b;
}

nav a::before {
  content: '';
  display: block;
  height: 3px;
  width: 100%;
  background-color: #1b1b1b;
  top: 0;
  width: 0%;
/*  position: absolute;*/
  transition: all ease-in-out 250ms;
}

nav a:hover::before {
  width: 100%;
}


/*Forms on Contact page*/
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea,
select {
  height: 30px;
  background-color: #fff;
  border: 1px solid #D1D1D1;
  border-radius: 5px;

  }

  /* Removes awkward default styles on some inputs for iOS */
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
input[type="button"],
input[type="submit"],
textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none; }
textarea {
  min-height: 65px;
  padding-top: 6px;
  padding-bottom: 6px; }
input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
textarea:focus,
select:focus {
  border: 1px solid #33C3F0;
  outline: 0; }
label,
legend {
  display: block;
  margin-bottom: .5rem;
  font-weight: 600; }
fieldset {
  padding: 0;
  border-width: 0; }
input[type="checkbox"],
input[type="radio"] {
  display: inline; }
label > .label-body {
  display: inline-block;
  margin-left: .5rem;
  font-weight: normal; }

.field {
  padding: 10px;
}

.field a {
  padding: 10px;
  text-decoration: none;
  color: black;
  font-size: 20px;
  -webkit-appearance: none;
}

.field button {
  border-radius: 10px;
  display: inline-block;
  text-align: center;
}

.field a:hover {
  color: #0077C0;
}

#message {
  width: 40%;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}



/*iPhone 6/7/8 and iPad*/
@media (max-width: 450px) {
  #index {
    background-position: 41% 59%;
  }

  .grid-container {
    height: 100vh;

  }

  .grid-item {
    font-size: 25px;
  }

  .name {
    font-size: 32px;

  }

  .grid-item img {
    max-height: 70%;
    width: 100%;
  }

  .WhiteHouse img {
    max-height: 55%;
  }

  .alignleft {
    float: none;
    text-align: center;

  }

  .alignright {
    float: none;
    text-align: center;
    margin-left: 7%;
  }

  #GitHub {
    width: 25%;
  }

}

