/*index.html*/
body#index {
/*	background-color: black;*/
  height: 100%;
  width: 100%;
	font-family: 'Rubik', sans-serif;
	color: white;
  background-image: url("https://i.imgur.com/JO1dC7C.jpg"), url("https://i.imgur.com/KCcrCh7.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: hard-light;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
/*  background-color: #000000;*/
  padding: 10px;

  
}

.grid-item {
  display: flex;
  background-color: rgba(255, 255, 255, 0);
  padding: 10px;
  font-size: 30px;
  text-align: center;
  justify-content: center;
  align-items: center;

}
.name {
  font-size: 40px;
}

img {
  border-radius: 10px;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: #0077C0;
}

.alignleft {
  float: left;
  margin-left: 15px;
}

.alignright {
  float: right;
  margin-right: 15px;
}

/*contact.html*/
body#contact {
  background-color: black;
  font-family: 'Rubik', sans-serif;
  color: white;
  text-align: center;
}


/*work.html*/
body#work {
  background-color: black;
  font-family: 'Rubik', sans-serif;
  color: white;
  text-align: center;
}



/*iPhone 6/7/8 and iPad*/
@media (max-width: 450px) {
  .grid-container {
    height: 85vh;
  }

  .grid-item {
    font-size: 50px;
  }
  .name {
    font-size: 70px;
  }
}


