/*index.html*/
body#index {
/*	background-color: black;*/
  /*height: 100%;*/
  /*width: 100%;*/
	font-family: 'Rubik', sans-serif;
	color: white;
  background-image: url("https://i.imgur.com/JO1dC7C.jpg"), url("https://i.imgur.com/KCcrCh7.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: hard-light;
  margin: 0;
  min-height: 100vh;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
/*  background-color: #000000;*/
  padding: 10px;
  min-height: 100vh;
}

.grid-item {
  display: flex;
  background-color: rgba(255, 255, 255, 0);
  padding: 0px;
  font-size: 30px;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.grid-item img {
  min-height: 50%;
  width: 70%;
  max-width: 320px;
  border-radius: 10px;
}

.name {
  font-size: 40px;
}

footer img {
  width: 40px;
}


a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: #0077C0;
}

.alignleft {
  float: left;
  margin-left: 15px;
  margin-bottom: 20px;
}

.alignright {
  float: right;
  margin-right: 15px;
  height: 30%;
}

.WhiteHouse img {
  height: 90%;
}

#GitHub {
  height: 35px;
  width: 60px;
}


/*contact.html*/
body#contact {
  background-color: black;
  font-family: 'Rubik', sans-serif;
  color: white;
  text-align: center;
}




/*work.html*/
body#work {
  background-color: black;
  font-family: 'Rubik', sans-serif;
  color: white;
  text-align: center;
}


/*iPhone 6/7/8 and iPad*/
@media (max-width: 450px) {
  #index {
    background-position: 41% 59%;
  }

  .grid-container {
    height: 50vh;

  }

  .grid-item {
    font-size: 25px;
  }

  .name {
    font-size: 32px;

  }

  .grid-item img {
    min-height: 50%;
    width: 100%;
  }

  .alignleft {
    float: none;
    text-align: center;

  }

  .alignright {
    float: none;
    text-align: center;
    margin-left: 7%;
  }

  .WhiteHouse img {
    height: 60%;
  }
  #GitHub {
    width: 25%;
  }



}

